---
permalink: /404.html
layout: base.njk
title: Page not found
eleventyExcludeFromCollections: true
---
<section class="wrap prose">
  <h1>Page not found</h1>
  <p>Sorry, we can’t find that page.</p>
  <p><a class="btn btn-primary" href="{{ '/' | url }}">Go home</a></p>
</section>
