---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for p in collections.all | sort(attribute='url') %}
  {% if p.url and not p.url.startsWith('/404') %}
  <url>
    <loc>{{ (site.baseUrl or '') }}{{ p.url | url }}</loc>
    {% if p.date %}<lastmod>{{ p.date.toISOString() }}</lastmod>{% endif %}
  </url>
  {% endif %}
{% endfor %}
</urlset>
